{{define "listtable" -}}
{{with .Entity}}
{{"{{"}}define "{{lowercase .Name}}listtable" {{"}}"}}
                       <div class="card events-card">      
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                     <thead>
                                      <tr>
                                        {{range .Fields -}}
                                          {{- if ne .Kind "parent" }}
                                          {{- if eq .Kind "lookup" "child"}}<th>{{.Object | title}}</th>
                                          {{- else if ne .Name "ID"}}<th>{{.Name | title}}</th>{{end}}
                                          {{- end}}
                                        {{end -}}
                                        <th></th>	
                                      </tr>
                                    </thead>
                                        <tbody>
                                          {{"{{"}}range .{{"}}"}}
                                          <tr>
                                          {{- $entityname := .Name | title}}
                                            {{range .Fields}}                                                                                          
                                              {{- if eq .Kind "parent"}}{{end}}
                                              {{- if eq .Kind "child"}}<td>{{"{{"}}.{{.Object | title}}{{"}}"}} </td>{{end}}
                                              {{- if eq .Kind "lookup"}}<td>{{"{{"}}.{{.Object | title}}{{"}}"}} </td>{{end}}                                              
                                              {{- if eq .Kind "boolean"}}<td><span>{{"{{"}}if eq .{{.Name | title}} true{{"}}"}}<i class="far fa-check-square"></i>{{"{{"}}else{{"}}"}}<i class="far fa-square"></i>{{"{{"}}end{{"}}"}} </span> </td>{{end}}
                                              {{- if eq .Kind "tel" "text" "password" "longtext" "email"}}
                                                {{- if eq .IsLabel true}}<td><a href="/{{$entityname | plural | lowercase}}/{{"{{.ID}}"}}">{{"{{"}}.{{.Name | title}}{{"}}"}}</a> </td>
                                                {{- else}}<td>{{"{{"}}.{{.Name | title}}{{"}}"}} </td>{{end}}{{end}}
                                              {{- if eq .Kind "number"}}<td>{{"{{"}}.{{.Name | title}}{{"}}"}} </td>{{end}}
                                              {{- if eq .Kind "integer"}}{{- if ne .Name "ID"}}<td>{{"{{"}}.{{.Name | title}}{{"}}"}} </td>{{end}} {{end}}                                        
                                            {{end}}
                                            <td>
                                            <div class="buttons is-right">
                                            <form method="post" action="/{{.Name | plural | lowercase}}/{{"{{.ID}}"}}/delete" name="{{"{{.ID}}"}}">
                                              <button class="button is-secondary">    
                                                <span class="icon">
                                                  <i class="far fa-trash-alt"></i>
                                                </span>
                                                <span>Delete</span>
                                              </button>
                                              <button class="button is-primary" formmethod="get" formaction="/{{.Name | plural | lowercase}}/{{"{{.ID}}"}}">
                                                <span class="icon">                                                                                                  
                                                  <i class="far fa-edit"></i>
                                                </span>
                                                <span>Edit</span>
                                              </button>
                                            </form> 
                                            </div>
                                            </td>  
                                          </tr>
                                          {{"{{end}}"}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                            </div>
                            <footer class="card-footer">
                              <a class="button is-link" href="/{{.Name | plural | lowercase}}/new">
                                <span class="icon">                                                                                                  
                                  <i class="fas fa-plus"></i>
                                </span>
                                <span>New</span>
                              </a>      
                             </footer>                           
                        </div>  
{{"{{"}}end{{"}}"}}         
{{end}}
{{end}}


