{{define "schematypes" -}}
{{- if eq .Kind "text"}}{{lowercase .Name}}	varchar{{if eq .Required true}} NOT NULL{{end}},{{end}}
{{- if eq .Kind "password"}}{{lowercase .Name}}	varchar{{if eq .Required true}} NOT NULL{{end}},{{end}}
{{- if eq .Kind "integer"}}{{lowercase .Name}}	bigint{{end}}
{{- if eq .Kind "number"}}{{lowercase .Name}}	decimal{{end}}
{{- if eq .Kind "boolean"}}{{lowercase .Name}}	bool{{end}}
{{- if eq .Kind "email"}}{{lowercase .Name}}	varchar{{if eq .Required true}} NOT NULL{{end}},{{end}}
{{- if eq .Kind "tel"}}{{lowercase .Name}}	varchar{{if eq .Required true}} NOT NULL{{end}},{{end}}
{{- if eq .Kind "longtext"}}{{lowercase .Name}}	varchar{{if eq .Required true}} NOT NULL{{end}},{{end}}
{{- if eq .Kind "lookup"}}{{lowercase .Name}}_id	int,{{end}}
{{- if eq .Kind "parent"}}{{end -}}
{{- if eq .Kind "child"}}{{lowercase .Name}}_id bigint,{{end}}
{{- end}}





